Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  portability-*,
  misc-no-recursion-*,
  readability-else-after-*,
  misc-*,
  readability-named-parameter-*,
  -modernize-*,
  -readability-braces-around-statements,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -bugprone-easily-swappable-parameters,
  -readability-indentationifier-length
